body {
    font-family: "Verdana", sans-serif; 
    //background-color: #EEEEEE;
  }
  
  h1 {
    color: black;
    font-size: 50px;
    font-family: Verdana, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
    
  .navbar a.logo {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 0px;
  }
  
  .navbar .logo #logopic {
    width: 50px;
    height: auto;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
   
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
iframe{
  margin-top: 50px;
}

p{
  margin-left: 50px;
  margin-right: 50px;
}
  
h2{
  margin-left: 50px;
}
 
h3{
  margin-left: 50px;
}

.slider {
  width: 500px;
  height: 600px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
  justify-content: center;
}
.image-container {
  width: 13000px;
  background-color: rgb(255, 255, 255);
  height: 325px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
#slide-4:target ~ .image-container {
  left: -1500px;
}
#slide-5:target ~ .image-container {
  left: -2000px;
}
#slide-6:target ~ .image-container {
  left: -2500px;
}
#slide-7:target ~ .image-container {
  left: -3000px;
}
#slide-8:target ~ .image-container {
  left: -3500px;
}
#slide-9:target ~ .image-container {
  left: -4000px;
}
#slide-10:target ~ .image-container {
  left: -4500px;
}
#slide-11:target ~ .image-container {
  left: -5000px;
}

.buttons {
  position: relative;
  top: -30px;
}
.buttons a {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background-color: gray;
}

.buttons a:hover {
  background-color:black;
}

#slide2-1:target ~ .image-container {
  left: 0px;
}
#slide2-2:target ~ .image-container {
  left: -500px;
}
#slide2-3:target ~ .image-container {
  left: -1000px;
}
#slide2-4:target ~ .image-container {
  left: -1500px;
}

#slide3-1:target ~ .image-container {
  left: 0px;
}
#slide3-2:target ~ .image-container {
  left: -500px;
}
#slide3-3:target ~ .image-container {
  left: -1000px;
}
#slide3-4:target ~ .image-container {
  left: -1500px;
}
#slide3-5:target ~ .image-container {
  left: -2000px;
}
#slide3-6:target ~ .image-container {
  left: -2500px;
}
#slide3-7:target ~ .image-container {
  left: -3000px;
}
#slide3-8:target ~ .image-container {
  left: -3500px;
}
#slide3-9:target ~ .image-container {
  left: -4000px;
}
#slide3-10:target ~ .image-container {
  left: -4500px;
}
#slide3-11:target ~ .image-container {
  left: -5000px;
}
#slide3-12:target ~ .image-container {
  left: -5500px;
}
#slide3-13:target ~ .image-container {
  left: -6000px;
}
#slide3-14:target ~ .image-container {
  left: -6500px;
}
#slide3-15:target ~ .image-container {
  left: -7000px;
}
#slide3-16:target ~ .image-container {
  left: -7500px;
}
#slide3-17:target ~ .image-container {
  left: -8000px;
}
#slide3-18:target ~ .image-container {
  left: -8500px;
}
#slide3-19:target ~ .image-container {
  left: -9000px;
}
#slide3-20:target ~ .image-container {
  left: -9500px;
}
#slide3-21:target ~ .image-container {
  left: -10000px;
}
#slide3-22:target ~ .image-container {
  left: -10500px;
}
#slide3-23:target ~ .image-container {
  left: -11000px;
}
#slide3-24:target ~ .image-container {
  left: -11500px;
}
#slide3-25:target ~ .image-container {
  left: -12000px;
}