body {
  font-family: "Verdana", sans-serif; 
  //background-color: #EEEEEE;
}


h1 {
  color: black;
  font-size: 50px;
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
}


//#title {
  background-color: rgb(72, 72, 72);
  border: none;
  text-align: align;
  width: 525px;
  //height: 50px;
  //down: 0%;
  margin: 0 auto;
  border-radius: 15px;
}

.navbar a.logo {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 0px;
}

.navbar .logo #logopic {
  width: 50px;
  height: auto;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  margin: 0; 
 
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


h3{
  margin-left: 24%;
  font-size: 25px;
}

h4{
  margin-left: 24%;
  margin-right: 35%;
  font-weight: normal;
  font-size: 14px;
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-left: 20%;
  padding: 25px;
}
.mytabs input[type="radio"] {
  display: none;
}
.mytabs label {
  padding: 25px;
  background: #e2e2e2;
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: white;
  order: 1;
  display: none;
}
.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: gray;
}

.box{
  width: 250px;
  height: 350px;
  background-color: rgb(201, 201, 201);
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 20px;
}

.box img{
  margin-top: 0px;
  width: 200px;
  height: auto;
}
.box p{
  margin-top: 8px;
  margin-left: 25px;
  margin-right: 10%;
  margin-bottom: 5px;
  font-size: 12px;
}

.box2{
  width: 50%;
  height: 675px;
  margin-left: 22%;
  background-color: rgb(201, 201, 201);
  border-radius: 8px;
  display: inline-block;
}

.box3{
  width: 50%;
  height: 200px;
  margin-left: 22%;
  background-color: rgb(201, 201, 201);
  border-radius: 8px;
  display: inline-block;
}

h5{
  font-size: 20px;
  margin-left: 4%;
}

.txt {
  margin-left: 4%;
  margin-right: 4%;
}

.box4{
  width: 50%;
  height: 200px;
  margin-left: 22%;
  background-color: rgb(201, 201, 201);
  border-radius: 8px;
  display: inline-block;
}

.box2 img{
  margin-top: 20px;
  width: 400px;
  height: auto;
}

.box5{
  width: 50%;
  height: 200px;
  margin-left: 22%;
  background-color: rgb(201, 201, 201);
  border-radius: 8px;
  display: inline-block;
}